.app {
  text-align: center;
  margin-top: 30px;
}

canvas {
  border: 2px solid #000;
  margin-top: 30px;
  margin-bottom: 20px;
}

button {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
}
